@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ho{
  box-shadow: .4px .4px grey;
  border-radius: 1rem;

}
.ho:hover{
  background: url('./1/instant-settlement-bghover.svg');
  /* background-color: rgb(251, 248, 248); */
  transition-duration: 300ms;
  transform:scale(1.11111111);
  transition-property: all;
  transition-delay: 100ms;
  transition-timing-function: linear;
  border-radius: 1rem;
  box-shadow: 1px 1px 1px 1px grey;
  
  
}
.ho1:hover{
  background: url('./1/upi-autopay-hoverbg.svg')
}  .corefeaturesection{
            background-size: 100% 100%;
            padding-top: 12rem;
            padding-bottom: 12rem;
        }
.ho2:hover{
  background: url('./1/payment-button-hoverbg.svg')
}
.corefeaturesection{
  background-size: 100% 100%;
  padding-top: 5rem;
  padding-bottom: 12rem;
}
.ctaSection{
  background-size: 100% 100%;
}

.moverovers{
  animation: 20s infinite linear moveCompany;
}

@keyframes moveCompany {
  0%{
    top:0;
  }
  100%{
    top:-99%;
  }
}
.footer{
  background: linear-gradient(to right, #eef9fe, #edf7ff)
}

.move{
animation: 5s infinite linear nnn;
}
/* @keyframes nnn{
  0%{
    top:0;
  }
  100%{
    top:-90%
  }
} */
/* .move{
  animation: 3s linear infinite nnn;
/* } */
@keyframes nnn {
  0%{
    top:50%
  }
  25%{
    top:0%
  }
  50%{
    top:50%
  }
  75%{
    top:100%
  }
  100%{
    top:50%
  }

} 

@media screen and (min-width:600px) {
  .hide{
    display: none;
  }
  .imge img{
    /* width: 400px;
    height: 400px; */
  }
}